<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPage_404.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>ProcessController</servlet-name>
        <servlet-class>Com.Controller.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Com.Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Com.Controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboardProcessController</servlet-name>
        <servlet-class>Com.Controller.dashboardProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemAddController</servlet-name>
        <servlet-class>Com.Controller.itemAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemProcessControler</servlet-name>
        <servlet-class>Com.Controller.itemProcessControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProcessController</servlet-name>
        <servlet-class>Com.Controller.CustomerProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesController</servlet-name>
        <servlet-class>Com.Controller.SalesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseController</servlet-name>
        <servlet-class>Com.Controller.PurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpensesController</servlet-name>
        <servlet-class>Com.Controller.ExpensesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorController</servlet-name>
        <servlet-class>Com.Controller.VendorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>Com.Controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>Com.Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SugesstionController</servlet-name>
        <servlet-class>Com.Controller.SugesstionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Com.Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController1</servlet-name>
        <servlet-class>Com.Controller.ProfileController1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessController</servlet-name>
        <url-pattern>/ProcessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dashboardProcessController</servlet-name>
        <url-pattern>/dashboardProcessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemAddController</servlet-name>
        <url-pattern>/itemAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemProcessControler</servlet-name>
        <url-pattern>/itemProcessControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProcessController</servlet-name>
        <url-pattern>/CustomerProcessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesController</servlet-name>
        <url-pattern>/SalesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseController</servlet-name>
        <url-pattern>/PurchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpensesController</servlet-name>
        <url-pattern>/ExpensesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorController</servlet-name>
        <url-pattern>/VendorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/EmployeeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SugesstionController</servlet-name>
        <url-pattern>/SugesstionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController1</servlet-name>
        <url-pattern>/ProfileController1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
